NODE_ENV=development
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=freshagro
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZAgcfl7p92ldGxad68LJZdL17lhWy
JWT_SECRET=super_secret_jwt_key
CLIENT_ORIGIN=http://localhost:5173
