# Dependencies
node_modules/

# Production build
dist/

# Environment files
.env
.env.*
!.env.example

# Archive files
*.zip
*.tar.gz
*.tgz
*.rar

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
